body{
    margin: 0;
    background-color: black;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* ----------------- */
#start{
    display: block;
}
#start a{
    text-decoration: none;
    font-family:  'Pixelify Sans', sans-serif;
    font-size: 40px;
}

#canvas,#addImg, #game-over{
    display: none;
}
