body{
    margin: 0;
    background-color: black;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family:  'Pixelify Sans', sans-serif;
}
h1, a{
    color: white;
    text-decoration: none;
    display: block;
}
a{
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: block;
}
/* ----------------- */
#start{
    display: block;
}
#canvas,#addImg, #game-over, #game-pass{
    display: none;
}
